@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,700,700italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247@cs279project/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* _global.scss */
/* line 7, ../sass/_global.scss */
body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16pt;
  margin: 0px auto;
  color: #505657;
}
/* line 10, ../sass/_global.scss */
body a {
  color: #8de9f7;
}
/* line 14, ../sass/_global.scss */
body a:hover {
  color: #2ed7f0;
}
/* line 20, ../sass/_global.scss */
body strong {
  font-weight: 700;
}
/* line 23, ../sass/_global.scss */
body em {
  font-style: italic;
}
/* line 26, ../sass/_global.scss */
body .light {
  font-weight: 300;
}
/* line 29, ../sass/_global.scss */
body p {
  margin-bottom: 15px;
}

/* _survey.scss */
/* line 3, ../sass/_survey.scss */
.survey {
  font-size: 32pt;
  margin: 0px auto;
  margin-top: 16%;
  text-align: center;
}

/* line 10, ../sass/_survey.scss */
form {
  margin: 0px auto;
  width: 40%;
  padding: 30px 5px 30px 5px;
  border-radius: 40px;
  background-color: #b3def9;
}

/* line 18, ../sass/_survey.scss */
.mob-info {
  font-size: 16pt;
  font-weight: 300;
  color: #1080c6;
  font-style: italic;
}

/* line 25, ../sass/_survey.scss */
.time-info {
  font-size: 16pt;
  font-weight: 300;
  color: #0fc1dc;
}

/* line 31, ../sass/_survey.scss */
form:hover {
  background-color: #c1e4fa;
}

/* line 35, ../sass/_survey.scss */
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 13px;
  margin: 30px 1px 0px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  font-size: 24pt;
  width: 80%;
}

/* line 49, ../sass/_survey.scss */
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #1c9ded;
  padding: 3px 0px 3px 13px;
  margin: 30px 1px 0px 0px;
  border: 1px solid #1c9ded;
}

/* line 56, ../sass/_survey.scss */
.hidden-forms {
  display: none;
}

/* line 60, ../sass/_survey.scss */
.tiny-text {
  font-size: 10pt;
  font-weight: 300;
  line-height: 8pt;
  position: relative;
  top: -12px;
}

/* _exposition.scss */
/* line 3, ../sass/_exposition.scss */
p {
  line-height: 24pt;
  margin-bottom: 20px;
}

/* line 8, ../sass/_exposition.scss */
.centered {
  text-align: center;
}

/* line 12, ../sass/_exposition.scss */
.exposition {
  margin: 0px auto;
  margin-top: 2%;
  width: 70%;
}

/* line 18, ../sass/_exposition.scss */
ul {
  list-style-type: disc;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 85%;
  line-height: 28px;
  font-size: 18pt;
}

/* line 27, ../sass/_exposition.scss */
ul li {
  margin: 15px 40px 15px 40px;
}

/* line 31, ../sass/_exposition.scss */
.very-large-text {
  font-size: 48pt;
  font-weight: 700;
  line-height: 56pt;
}

/* line 37, ../sass/_exposition.scss */
.large-text {
  font-size: 28pt;
}

/* line 41, ../sass/_exposition.scss */
.small-text {
  font-size: 12pt;
}

/* line 45, ../sass/_exposition.scss */
.bright {
  color: #8de9f7;
}

/* line 49, ../sass/_exposition.scss */
.dark {
  color: #1c9ded;
}

/* line 53, ../sass/_exposition.scss */
.consent-form * {
  font-size: 10pt;
  line-height: 9pt;
}

/* line 58, ../sass/_exposition.scss */
input[type=email] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 13px;
  margin: 0px 1px 0px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  font-size: 16pt;
}

/* line 71, ../sass/_exposition.scss */
input[type=email]:focus {
  box-shadow: 0 0 5px #1c9ded;
  padding: 3px 0px 3px 13px;
  margin: 0px 1px 0px 0px;
  border: 1px solid #1c9ded;
}

/* line 78, ../sass/_exposition.scss */
input[type=submit] {
  background-color: #1c9ded;
  border-radius: 30px;
  border: none;
  padding: 7px 20px 7px 20px;
  color: white;
  position: relative;
  top: -2px;
}

/* line 89, ../sass/_exposition.scss */
#erase {
  font-size: 8pt;
  background-color: #bdf2fa;
  padding: 2px 5px 2px 5px;
}

/* line 95, ../sass/_exposition.scss */
input[type=submit]:hover {
  background-color: #5de0f4;
}

/* line 99, ../sass/_exposition.scss */
input[type=submit]:active {
  background-color: #2ed7f0;
}

/* line 104, ../sass/_exposition.scss */
input[type=checkbox] {
  visibility: hidden;
}

/* line 108, ../sass/_exposition.scss */
#start-button {
  display: none;
}

/* line 112, ../sass/_exposition.scss */
.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

/* line 122, ../sass/_exposition.scss */
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 126, ../sass/_exposition.scss */
.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

/* line 133, ../sass/_exposition.scss */
.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

/* line 142, ../sass/_exposition.scss */
.big-checkbox + label {
  padding: 18px;
}

/* line 146, ../sass/_exposition.scss */
.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

/* line 151, ../sass/_exposition.scss */
.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

/* line 162, ../sass/_exposition.scss */
.consent-box {
  width: 30%;
  margin: 0px auto;
}

/* line 167, ../sass/_exposition.scss */
#incentive-container {
  display: none;
}

/* line 171, ../sass/_exposition.scss */
#formdata {
  font-family: monospace;
}
